# Module 1: Data validation and pre-processing technique

In [2]:
#import library packages
import pandas as p
import numpy as n

In [3]:
#Load given dataset
data = p.read_csv("rain.csv")

In [4]:
import warnings
warnings.filterwarnings('ignore')

Before drop the given dataset

In [5]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [6]:
#shape
data.shape

(142193, 24)

After drop the given dataset

In [7]:
df=data.dropna()

In [8]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,No
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,No
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,No
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,No
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,No

In [9]:
#shape
df.shape

(56420, 24)

In [10]:
#show columns
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [11]:
#To describe the dataframe
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000
mean,13.464770,24.219206,2.130397,5.503135,7.735626,40.877366,15.667228,19.786778,65.874123,49.601985,1017.239505,1014.795580,4.241705,4.326515,18.204961,22.710333,2.346960
std,6.416689,6.970676,7.014822,3.696282,3.758153,13.335232,8.317005,8.510180,18.513289,20.197040,6.909357,6.870892,2.797162,2.647251,6.567991,6.836543,8.731885
min,-6.700000,4.100000,0.000000,0.000000,0.000000,9.000000,2.000000,2.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-0.700000,3.700000,0.000000
25%,8.600000,18.700000,0.000000,2.800000,5.000000,31.000000,9.000000,13.000000,55.000000,35.000000,1012.700000,1010.100000,1.000000,2.000000,13.100000,17.400000,0.000000
50%,13.200000,23.900000,0.000000,5.000000,8.600000,39.000000,15.000000,19.000000,67.000000,50.000000,1017.200000,1014.700000,5.000000,5.000000,17.800000,22.400000,0.000000
75%,18.400000,29.700000,0.600000,7.400000,10.700000,48.000000,20.000000,26.000000,79.000000,63.000000,1021.800000,1019.400000,7.000000,7.000000,23.300000,27.900000,0.600000
max,31.400000,48.100000,206.200000,81.200000,14.500000,124.000000,67.000000,76.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,9.000000,39.400000,46.100000,367.600000

In [12]:
del df['Date']

In [13]:
df.tail(10)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
139103,Darwin,19.0,30.9,0.0,5.0,10.8,E,41.0,E,ESE,...,27.0,1015.8,1011.8,0.0,0.0,22.9,30.2,No,0.0,No
139104,Darwin,18.9,31.1,0.0,6.0,10.6,ESE,31.0,SE,ESE,...,29.0,1014.7,1010.7,0.0,1.0,21.8,30.5,No,0.0,No
139105,Darwin,20.2,32.1,0.0,4.8,9.9,E,31.0,SE,SE,...,35.0,1014.5,1011.4,1.0,3.0,23.9,31.2,No,0.0,No
139106,Darwin,20.0,33.1,0.0,4.6,10.9,E,43.0,SSE,ENE,...,33.0,1014.6,1010.2,1.0,1.0,24.2,32.7,No,0.0,No
139107,Darwin,21.9,33.0,0.0,5.2,10.9,E,44.0,SE,ENE,...,28.0,1014.6,1010.6,1.0,1.0,25.1,32.7,No,0.0,No
139108,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,NE,...,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,0.0,No
139109,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,SE,...,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,0.0,No
139110,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,W,...,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,0.0,No
139111,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,NNW,...,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,0.0,No
139112,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,NNW,...,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,0.0,No

In [14]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 5939 to 139112
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       56420 non-null  object
 1   MinTemp        56420 non-null  float64
 2   MaxTemp        56420 non-null  float64
 3   Rainfall       56420 non-null  float64
 4   Evaporation    56420 non-null  float64
 5   Sunshine       56420 non-null  float64
 6   WindGustDir    56420 non-null  object
 7   WindGustSpeed  56420 non-null  float64
 8   WindDir9am     56420 non-null  object
 9   WindDir3pm     56420 non-null  object
 10  WindSpeed9am   56420 non-null  float64
 11  WindSpeed3pm   56420 non-null  float64
 12  Humidity9am    56420 non-null  float64
 13  Humidity3pm    56420 non-null  float64
 14  Pressure9am    56420 non-null  float64
 15  Pressure3pm    56420 non-null  float64
 16  Cloud9am       56420 non-null  float64
 17  Cloud3pm       56420 non-null  float64
 18  Temp9am        56420 non-null  float64
 19  Temp3pm        56420 non-null  float64
 20  RainToday      56420 non-null  object
 21  RISK_MM        56420 non-null  float64
 22  RainTomorrow   56420 non-null  object
dtypes: float64(17), object(6)
memory usage: 10.3+ MB

Checking duplicate values of dataframe

In [15]:
#Checking for duplicate data
df.duplicated()

5939      False
5940      False
5942      False
5943      False
5944      False
          ...
139108    False
139109    False
139110    False
139111    False
139112    False
Length: 56420, dtype: bool

In [16]:
#find sum of duplicate data
sum(df.duplicated())

0

In [19]:
#Checking sum of missing values
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [20]:
df.Location.unique()

array(['Cobar', 'CoffsHarbour', 'Moree', 'NorfolkIsland', 'Sydney',
       'SydneyAirport', 'WaggaWagga', 'Williamtown', 'Canberra', 'Sale',
       'MelbourneAirport', 'Melbourne', 'Mildura', 'Portland', 'Watsonia',
       'Brisbane', 'Cairns', 'Townsville', 'MountGambier', 'Nuriootpa',
       'Woomera', 'PerthAirport', 'Perth', 'Hobart', 'AliceSprings',
       'Darwin'], dtype=object)

In [21]:
df.WindGustDir.unique()

array(['SSW', 'S', 'NNE', 'WNW', 'N', 'SE', 'ENE', 'NE', 'E', 'SW', 'W',
       'WSW', 'NNW', 'ESE', 'SSE', 'NW'], dtype=object)

In [22]:
df.WindDir9am.unique()

array(['ENE', 'SSE', 'NNE', 'WNW', 'NW', 'N', 'S', 'SE', 'NE', 'W', 'SSW',
       'E', 'NNW', 'ESE', 'WSW', 'SW'], dtype=object)

In [23]:
df.WindDir3pm.unique()

array(['SW', 'SSE', 'NNW', 'WSW', 'WNW', 'S', 'ENE', 'N', 'SE', 'NNE',
       'NW', 'E', 'ESE', 'NE', 'SSW', 'W'], dtype=object)

In [24]:
df.Evaporation.unique()

array([12. , 14.8, 10.8, 11.4, 11.2, 13. ,  9.8, 14.6, 11. , 12.8, 13.8,
       16.4, 17.4, 16. , 13.6,  8. ,  8.2,  8.6, 14.2, 12.6, 15.8, 16.2,
       13.4, 14.4, 11.8, 15.6, 15.2, 11.6,  9.6,  6.6,  0.6,  6. ,  3. ,
        2. ,  5.2,  9. , 10.2, 10. ,  7.4,  8.4,  9.2,  9.4, 12.4, 10.4,
        7.2,  6.8,  7.6,  6.4,  7.8,  7. ,  8.8,  6.2,  5.8,  0.2,  2.4,
        1.8,  2.8,  5. ,  4.4,  5.6,  4.8,  4.2,  4. ,  4.6,  3.4,  3.6,
        0. ,  1.4,  3.8,  2.2,  0.8,  2.6,  1.6,  1.2,  1. ,  3.2,  5.4,
       10.6, 16.8, 17. , 20.2, 14. , 17.2, 12.2, 15. , 18.2, 13.2,  4.1,
        1.7,  0.4,  4.9,  5.7, 15.4, 16.6, 19.6,  9.7, 10.5,  2.1,  5.9,
        2.3,  9.3, 20.4, 12.1, 30.6, 47.2, 38.4, 34.6, 19. , 23.6, 18.8,
       32.2, 31.4, 34.2, 18. , 18.4, 23. , 20.6, 26.8, 26.4, 34.4, 42.4,
       46.6, 60.2, 37.6, 36.4, 48.4, 21.8, 43.6, 35. , 50.4, 35.8, 54. ,
       41.2, 23.8, 32.8, 35.6, 31. , 35.4, 17.8, 27.4, 27. , 25.4, 57.2,
       48.8, 28.6, 33.6, 30.4, 37.4, 23.4, 43. , 36.2, 31.6, 44.2, 39.2,
       25.8, 65.4, 40.4, 30.8, 26. , 21.2,  2.9,  1.1,  7.1,  9.1,  6.1,
       20. , 22.2, 21.4, 17.6,  3.9, 22. , 29.8, 24. , 24.2, 19.4, 28. ,
       24.6, 22.6, 37. , 19.8, 24.4, 29.2, 22.8,  8.9,  0.3,  0.7,  5.5,
        0.5,  3.5, 10.1,  2.7,  4.3,  3.3,  6.9,  6.3,  5.1,  1.3, 18.6,
       21.6, 21. ,  1.5,  8.5, 11.5, 11.3,  5.3,  3.7,  4.7, 13.5,  9.5,
        1.9,  0.9,  3.1,  6.5,  6.7,  4.5, 44. ,  8.3,  7.5,  7.9,  8.1,
       11.1, 14.9, 42.6, 36. , 40. ,  2.5,  7.3, 14.3, 11.7, 10.3,  7.7,
        0.1, 11.9, 10.7, 10.9, 13.1,  8.7, 20.8, 19.2, 81.2, 63. , 70. ,
       54.8, 59.8, 72.2, 28.2, 22.4, 42.3, 12.7, 17.7, 22.5, 15.3, 25.6,
        9.9, 25.5, 14.1, 37.2, 41.8, 25. ])

In [25]:
df.RainToday.unique()

array(['No', 'Yes'], dtype=object)

In [26]:
df.RainTomorrow.unique()

array(['No', 'Yes'], dtype=object)

To validate Rainfall:

In [27]:
print("Minimum value of Rainfall is:", df.Rainfall.min())
print("Maximum value of Rainfall is:", df.Rainfall.max())

Minimum value of Rainfall is: 0.0
Maximum value of Rainfall is: 206.2

In [28]:
print("Rainfall ranges :", sorted(df['Rainfall'].unique()))

Rainfall ranges : [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.4, 1.5, 1.6, 1.7, 1.8, 2.0, 2.2, 2.3, 2.4, 2.5, 2.6, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 4.2, 4.4, 4.5, 4.6, 4.8, 5.0, 5.2, 5.4, 5.5, 5.6, 5.8, 6.0, 6.1, 6.2, 6.4, 6.6, 6.8, 6.9, 7.0, 7.1, 7.2, 7.4, 7.6, 7.8, 8.0, 8.2, 8.4, 8.5, 8.6, 8.8, 9.0, 9.2, 9.4, 9.5, 9.6, 9.8, 10.0, 10.1, 10.2, 10.4, 10.5, 10.6, 10.8, 11.0, 11.2, 11.4, 11.6, 11.7, 11.8, 11.9, 12.0, 12.2, 12.4, 12.6, 12.8, 13.0, 13.2, 13.4, 13.6, 13.8, 14.0, 14.2, 14.4, 14.6, 14.8, 15.0, 15.2, 15.4, 15.6, 15.8, 16.0, 16.2, 16.4, 16.6, 16.8, 17.0, 17.2, 17.4, 17.6, 17.8, 18.0, 18.2, 18.4, 18.6, 18.8, 19.0, 19.2, 19.4, 19.6, 19.8, 20.0, 20.2, 20.4, 20.6, 20.8, 21.0, 21.2, 21.4, 21.6, 21.8, 22.0, 22.2, 22.4, 22.6, 22.8, 22.9, 23.0, 23.2, 23.4, 23.6, 23.8, 24.0, 24.2, 24.4, 24.6, 24.8, 25.0, 25.2, 25.4, 25.6, 25.8, 26.0, 26.2, 26.4, 26.6, 26.8, 27.0, 27.2, 27.4, 27.6, 27.8, 28.0, 28.2, 28.4, 28.6, 28.8, 29.0, 29.2, 29.4, 29.6, 29.8, 29.9, 30.0, 30.2, 30.4, 30.6, 30.8, 31.0, 31.2, 31.4, 31.6, 31.8, 32.0, 32.2, 32.4, 32.6, 32.8, 33.0, 33.2, 33.4, 33.6, 33.8, 34.0, 34.2, 34.3, 34.4, 34.6, 34.8, 35.0, 35.2, 35.4, 35.6, 35.8, 36.0, 36.2, 36.4, 36.6, 36.8, 37.0, 37.2, 37.4, 37.6, 37.8, 38.0, 38.2, 38.4, 38.6, 38.8, 39.0, 39.2, 39.4, 39.6, 39.8, 40.0, 40.2, 40.4, 40.6, 40.8, 41.0, 41.2, 41.4, 41.6, 41.8, 42.0, 42.4, 42.6, 42.8, 43.0, 43.2, 43.4, 43.6, 43.8, 44.0, 44.2, 44.4, 44.6, 44.8, 45.0, 45.2, 45.4, 45.6, 45.8, 46.0, 46.2, 46.4, 46.6, 46.8, 47.0, 47.2, 47.4, 47.6, 48.0, 48.2, 48.4, 48.6, 48.8, 49.0, 49.2, 49.4, 49.8, 50.0, 50.2, 50.4, 50.6, 50.8, 51.0, 51.2, 51.4, 51.8, 52.0, 52.2, 52.4, 52.6, 52.8, 53.0, 53.2, 53.4, 53.6, 53.8, 54.0, 54.2, 54.4, 54.6, 54.8, 55.0, 55.2, 55.4, 55.6, 55.8, 56.0, 56.2, 56.4, 56.6, 56.8, 57.0, 57.4, 57.6, 57.8, 58.0, 58.2, 58.4, 58.6, 58.8, 59.0, 59.2, 59.4, 59.6, 59.8, 60.0, 60.2, 60.4, 60.6, 61.0, 61.2, 61.4, 61.6, 61.8, 62.0, 62.2, 62.4, 62.8, 63.0, 63.4, 63.8, 64.2, 64.8, 65.2, 66.2, 67.0, 67.6, 67.8, 68.2, 68.4, 68.8, 69.2, 70.8, 71.2, 71.8, 74.6, 74.8, 75.8, 76.6, 76.8, 77.2, 77.6, 78.0, 78.4, 79.2, 79.4, 80.4, 80.6, 81.0, 81.6, 81.8, 82.2, 82.6, 83.0, 83.2, 83.8, 84.0, 85.0, 86.4, 88.2, 88.6, 89.0, 89.2, 90.4, 90.6, 91.0, 91.4, 91.6, 93.6, 94.4, 95.2, 95.8, 96.8, 98.0, 102.2, 104.8, 106.4, 109.6, 110.6, 112.0, 113.0, 114.4, 115.8, 121.4, 122.8, 128.0, 128.2, 129.4, 132.6, 136.6, 140.2, 145.0, 168.4, 182.6, 183.0, 206.2]

In [29]:
p.Categorical(df['RISK_MM']).describe()

            counts     freqs
categories
0.0          36748  0.651329
0.1             16  0.000284
0.2           2996  0.053102
0.3             11  0.000195
0.4           1604  0.028430
...            ...       ...
210.6            1  0.000018
225.0            1  0.000018
236.8            1  0.000018
278.4            1  0.000018
367.6            1  0.000018

[498 rows x 2 columns]

In [30]:
p.Categorical(df['RainTomorrow']).describe()

            counts     freqs
categories
No           43993  0.779741
Yes          12427  0.220259

In [31]:
df['RainTomorrow'].value_counts()

No     43993
Yes    12427
Name: RainTomorrow, dtype: int64

In [32]:
df.corr()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
MinTemp,1.000000,0.749687,0.110800,0.506764,0.076087,0.118054,0.108522,0.137273,-0.174991,0.070827,-0.475661,-0.495577,0.106177,0.042173,0.906295,0.727222,0.142357
MaxTemp,0.749687,1.000000,-0.069981,0.650964,0.463913,0.035531,-0.008171,0.012266,-0.495781,-0.448116,-0.350980,-0.451691,-0.263634,-0.257752,0.893387,0.984841,-0.016697
Rainfall,0.110800,-0.069981,1.000000,-0.077239,-0.246379,0.106308,0.050584,0.044112,0.263625,0.277625,-0.180606,-0.137302,0.217169,0.191433,0.013713,-0.074627,0.304971
Evaporation,0.506764,0.650964,-0.077239,1.000000,0.369250,0.209566,0.193154,0.124345,-0.554232,-0.422436,-0.297319,-0.325954,-0.199809,-0.202366,0.593122,0.630727,-0.044199
Sunshine,0.076087,0.463913,-0.246379,0.369250,1.000000,-0.052422,-0.013842,0.029200,-0.500343,-0.629299,0.043330,-0.020632,-0.677939,-0.702022,0.289038,0.486129,-0.299330
WindGustSpeed,0.118054,0.035531,0.106308,0.209566,-0.052422,1.000000,0.608852,0.685236,-0.193410,-0.042653,-0.430363,-0.383683,0.088129,0.131590,0.085520,-0.000382,0.138410
WindSpeed9am,0.108522,-0.008171,0.050584,0.193154,-0.013842,0.608852,1.000000,0.502226,-0.236795,-0.058449,-0.201518,-0.155484,0.034908,0.062507,0.053749,-0.018357,0.038842
WindSpeed3pm,0.137273,0.012266,0.044112,0.124345,0.029200,0.685236,0.502226,1.000000,-0.100626,0.031843,-0.293155,-0.252095,0.068224,0.041475,0.114043,-0.009436,0.028658
Humidity9am,-0.174991,-0.495781,0.263625,-0.554232,-0.500343,-0.193410,-0.236795,-0.100626,1.000000,0.685697,0.114575,0.172972,0.438962,0.348707,-0.423598,-0.487758,0.181268
Humidity3pm,0.070827,-0.448116,0.277625,-0.422436,-0.629299,-0.042653,-0.058449,0.031843,0.685697,1.000000,-0.063454,0.024109,0.509223,0.510996,-0.151614,-0.497245,0.313669
Pressure9am,-0.475661,-0.350980,-0.180606,-0.297319,0.043330,-0.430363,-0.201518,-0.293155,0.114575,-0.063454,1.000000,0.961538,-0.150427,-0.166334,-0.443410,-0.310774,-0.171706
Pressure3pm,-0.495577,-0.451691,-0.137302,-0.325954,-0.020632,-0.383683,-0.155484,-0.252095,0.172972,0.024109,0.961538,1.000000,-0.081791,-0.103173,-0.500509,-0.421318,-0.171046
Cloud9am,0.106177,-0.263634,0.217169,-0.199809,-0.677939,0.088129,0.034908,0.068224,0.438962,0.509223,-0.150427,-0.081791,1.000000,0.614380,-0.109591,-0.281213,0.205997
Cloud3pm,0.042173,-0.257752,0.191433,-0.202366,-0.702022,0.131590,0.062507,0.041475,0.348707,0.510996,-0.166334,-0.103173,0.614380,1.000000,-0.107885,-0.297230,0.241334
Temp9am,0.906295,0.893387,0.013713,0.593122,0.289038,0.085520,0.053749,0.114043,-0.423598,-0.151614,-0.443410,-0.500509,-0.109591,-0.107885,1.000000,0.870620,0.071622
Temp3pm,0.727222,0.984841,-0.074627,0.630727,0.486129,-0.000382,-0.018357,-0.009436,-0.487758,-0.497245,-0.310774,-0.421318,-0.281213,-0.297230,0.870620,1.000000,-0.039749
RISK_MM,0.142357,-0.016697,0.304971,-0.044199,-0.299330,0.138410,0.038842,0.028658,0.181268,0.313669,-0.171706,-0.171046,0.205997,0.241334,0.071622,-0.039749,1.000000

Before Pre-Processing:

In [33]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,No
5940,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,No
5942,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,No
5943,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,No
5944,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,No

After Pre-Processing:

In [34]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [35]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am',
       'WindSpeed9am', 'Humidity9am',
       'Pressure9am', 'Cloud9am',  'Temp9am',
       'RainToday', 'RISK_MM', 'RainTomorrow']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [36]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,Cobar,227,283,0,120,123,11,21,1,SW,...,13.0,170,1004.4,2,5.0,270,33.4,0,0,0
5940,Cobar,232,220,0,140,130,8,15,10,SSE,...,8.0,236,1012.1,1,1.0,207,27.0,0,0,0
5942,Cobar,242,307,0,108,106,5,20,5,NNW,...,22.0,230,1009.2,1,6.0,291,34.9,0,0,0
5943,Cobar,267,315,0,114,122,14,12,14,WSW,...,22.0,234,1009.1,1,5.0,295,35.6,0,0,0
5944,Cobar,290,341,0,112,84,14,14,7,WNW,...,15.0,214,1007.4,1,6.0,340,37.6,0,0,0